*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.headBar{
    width:100%;
    height:84px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    display:flex;
    justify-content: space-between;
}
.logoContainer{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap: 16px;
}
.rightBarContainer{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-right: 25px;;
}
ul{
    list-style-type: none;
    display:flex;
    gap: 100px;
}
.leftBarContainer{
    display: flex;
}
.link, a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color:#c71f37;
}
.link::before, .link::after{
    content: '';
    position: absolute;
    left: 0;
    width:100%;
    height:2px;
    background-color:#e65454;
    transform: scaleX(0);
    transition: transform .25s;
}
.link::before{
    top:-3px;
    transform-origin:left;
}
.link::after{
    bottom: -3px;
    transform-origin:right;
}
.link:hover::before, .link:hover::after{
    transform: scaleX(1);
}
.logoImage{
    border-radius: 50px;
    padding:8px;
    width: 5em;
}